<div class="container px-5 py-3 text-center">
  <h1>Upload a File</h1>
  <form action="/file/upload/done" method="POST" enctype="multipart/form-data">
    <div class="pt-3 pb-4">
      <input type="file" class="form-control" name="file" id="file">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <!-- <input type="submit" value="Submit" class="btn btn-primary btn-block"> -->
  </form>
</div>