<div class="container px-5 py-3 text-center">
  <h1>Done! Your Link Is</h1>
  <p class="p-1 h4"><b><%= locals.link %></b></p>
  <input class="d-none" type="text" value="<%= locals.link %>" id="toCopy">
  <button class="btn btn-success m-3" onclick="copy()">Copy
  Link</button>
</div>