
<div class="container px-5 py-3 text-center my-3">
  <form action="/file/<%= locals.id %>" method="POST">
    <button type="submit" class="btn btn-primary"
    >Securely Get File</button>
  </form>
</div>

