<nav class="navbar navbar-expand-sm navbar-dark py-1 fixed-top">
  <div class="container">
    <a href="/" class="navbar-brand">SafeShare</a>    
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/credential/upload" class="nav-link">Upload Credential</a>
        </li>
        <li class="nav-item">
          <a href="/file/upload" class="nav-link">Upload File</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

