
<div class="container py-3 px-1 text-center my-3">
  <h1>This page has your password</h1>
  <div class="p-2">
    <p style="margin: 0">The link is now expired</p>
    <p style="margin: 0">Make sure to close this page when you are done!</p>
  </div>

  <input class="" type="password" value="<%= locals.password %>"
  id="toCopy" class="form-control">
  <input type="checkbox" onclick="show()">
  Show password
  <br>
  <button class="btn btn-success m-3" onclick="copy()">
  Copy Password</button>
</div>
