<div class="container px-5 py-3 text-center">
  <h1 class="mb-3">Enter Password To Share</h1>
  <form action="/account/upload/done" method="POST">
    <div class="form-outline mb-4">
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </form>
</div>