<div class="container py-3 px-1 text-center my-3">
  <form action="/account/<%= locals.id %>/expire" method="POST">
    <button type="submit" class="btn btn-primary">Securely Get Password</button>
  </form>
</div>